<div
  class="relative flex items-center justify-center 
        h-[40.3rem] w-full overflow-hidden">

  <img
    src="assets/home.jpg"
    alt="HospiCare Home Banner"
    class="absolute inset-0 w-full h-full object-cover" />

  <div class="absolute inset-0 bg-black/10"></div>

  <div class=" relative text-center text-white">
    <h1 class="text-4xl sm:text-6xl font-bold font-numans ">
      Welcome to HospiCare
    </h1>
    <p class="mt-2 text-xl font-numans text-amber-500">
      Providing trusted, patient-centered medical care.
    </p>
  </div>
</div>
